<h1>Contatos</h1>

<form [formGroup]="contactForm">

    Nome: <br />
    <input type="text" size="40" formControlName="nameContact"/>
    <div *ngIf="contactForm.controls.nameContact.invalid && 
                contactForm.controls.nameContact.touched">
        <div class="error" *ngIf="contactForm.controls.nameContact.errors?.required">
            Informe o nome do contato
        </div>
        <div class="error" *ngIf="contactForm.controls.nameContact.errors?.minlength">
            O nome deve ter ao menos 5 caracteres
        </div>
    </div>

    <br />

    E-mail: <br />
    <input type="email" size="30" formControlName="emailContact"/>
    <div *ngIf="contactForm.controls.emailContact.invalid && 
                contactForm.controls.emailContact.touched">
        <div class="error" *ngIf="contactForm.controls.emailContact.errors?.required">
            Informe o email do contato
        </div>
        <div class="error" *ngIf="contactForm.controls.emailContact.errors?.email">
            Email inválido
        </div>
    </div>

    <br />
    <input type="button" value="Salvar" (click)="save()" [disabled]="contactForm.invalid" />

    <br /><br />
    <table border="1" style="width: 90%;">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of allContacts">
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
            </tr>
        </tbody>
    </table>

</form>